<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/js/jquery.min.js"></script>
<script src="/js/angular.min.js"></script>

</head>
<body ng-controller="TextController">
<p>{{someText}}</p>


<script src="/js/underscore.js"></script>
<script src="/js/bigpipe.js"></script>
<script src="/js/test.js"></script>
<script>
var bigpipe=new Bigpipe();
function TextController($scope){
	bigpipe.ready('test',function(data){
	  $scope.$apply(function(){
			$scope.someText = data.is;
		});
	})
}

angular.bootstrap(document.documentElement);
</script>

<script>

</script>

<script>

</script>
</body>
</html>